.home {
  max-width: 1200px;
  margin: 0 auto;
  padding: 32px 16px;
  flex: 1;
}

.home-title {
  text-align: center;
  margin-bottom: 32px;
}

.destinations {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
}

.destination-title {
  text-align: center;
  margin-bottom: 22px;
  color: #333;
  font-size: 1.2rem;
  font-weight: bold;
}

.destination-card {
  width: 300px;
}

@media (max-width: 768px) {

  .destinations,
  .contact-container,
  .footer-container {
    flex-direction: column;
    align-items: center;
  }
}